<div class="header__wrapper">
  <div class="header">
    <div class="header__top">
      <div class="header__logo">
        <img src="assets/imgs/hero-logo.png" alt="" />
      </div>

      <div class="header__lang-select">
        {{ "HOME.SELECT" | translate }}
        <label>
          <select #langSelect (change)="translate.use(langSelect.value)">
            <option
              *ngFor="let lang of translate.getLangs()"
              [value]="lang"
              [selected]="lang === translate.currentLang"
            >
              {{ lang }}
            </option>
          </select>
        </label>
      </div>
    </div>
    <div class="header__bottom">
      <ul class="header__menu">
        <li class="menu__link"><a routerLink="/">Главная</a></li>
        <li class="menu__link"><a routerLink="/contacts">Контакты</a></li>
        <li class="menu__link"><a routerLink="/services">Услуги</a></li>
        <li class="menu__link"><a routerLink="/products">Продукты</a></li>
      </ul>
    </div>
  </div>
</div>
