<div class="header__wrapper">
  <div class="header">
    <div class="header__top">
      <div class="header__logo">
        <img src="assets/imgs/hero-logo.png" alt="" />
      </div>

      <div class="header__lang-select">
        {{ "HOME.SELECT" | translate }}
        <label>
          <select #langSelect (change)="changeLanguage(langSelect.value)">
            <option
              *ngFor="let lang of languageService.translate.getLangs()"
              [value]="lang"
              [selected]="lang === languageService.translate.currentLang"
            >
              {{ lang }}
            </option>
          </select>
        </label>
      </div>
    </div>
    <div class="header__bottom">
      <ul class="header__menu">
        <li class="menu__link">
          <a routerLink="/"> {{ "HEADER.MENU-1" | translate }}</a>
        </li>
        <li class="menu__link">
          <a routerLink="/drugs">{{ "HEADER.MENU-2" | translate }}</a>
        </li>
        <li class="menu__link">
          <a routerLink="/products">{{ "HEADER.MENU-3" | translate }}</a>
        </li>
        <li class="menu__link">
          <a routerLink="/services">{{ "HEADER.MENU-4" | translate }}</a>
        </li>
        <li class="menu__link">
          <a routerLink="/contacts">{{ "HEADER.MENU-5" | translate }}</a>
        </li>
      </ul>
    </div>
  </div>
</div>
