<div class="drugs__wrapper">
  <div class="drugs">
    <div class="drugs__title">
      Наша компания реализовывает в России готовую лекарственную продукцию по
      следующим сегментам:
    </div>

    <p-accordion [activeIndex]="0" *ngIf="translate.currentLang === 'ru'">
      <ng-container *ngFor="let category of medications | keyvalue">
        <p-accordionTab [header]="category.key">
          <ul>
            <li *ngFor="let medication of category.value">
              {{ medication }}
            </li>
          </ul>
        </p-accordionTab>
      </ng-container>
    </p-accordion>
    <p-accordion [activeIndex]="0" *ngIf="translate.currentLang === 'en'">
      <ng-container *ngFor="let category of medicationsEn | keyvalue">
        <p-accordionTab [header]="category.key">
          <ul>
            <li *ngFor="let medication of category.value">
              {{ medication }}
            </li>
          </ul>
        </p-accordionTab>
      </ng-container>
    </p-accordion>
    <p-accordion [activeIndex]="0" *ngIf="translate.currentLang === 'cn'">
      <ng-container *ngFor="let category of medicationsCn | keyvalue">
        <p-accordionTab [header]="category.key">
          <ul>
            <li *ngFor="let medication of category.value">
              {{ medication }}
            </li>
          </ul>
        </p-accordionTab>
      </ng-container>
    </p-accordion>
  </div>
</div>
