.drugs__wrapper {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  & .drugs {
    & .drugs__title {
      color: #20304a;
      font-family: Arial;
      font-size: 20px;
      font-style: normal;
      font-weight: 900;
      line-height: normal;
      text-transform: uppercase;
      border: 1px solid #dee2e6;
      color: #20304a;
      background: #f8f9fa;
      border-radius: 6px;
      box-sizing: border-box;
      padding: 32px;
      width: 100%;
      max-width: 1200px;
    }
    & .drugs__cards-wrapper {
      & .drugs__card-title {
        color: #20304a;
        font-family: Manrope;
        font-size: 16px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
        text-transform: capitalize;
        margin-top: 5px;
      }
      & .drugs__card-item {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 20px;
        justify-content: space-between;
        width: 100%;
        max-width: 800px;
        border: 1px solid #dee2e6;
        color: #20304a;
        background: #f8f9fa;
        border-radius: 6px;
        box-sizing: border-box;
        padding: 14px;
        margin-top: 20px;
        align-items: center;
        & .drugs__card-img-wrapper {
          border-radius: 6px;
          box-sizing: border-box;
          background: rgb(230, 243, 236);
          padding: 12px;
        }
        & .drugs__card-file-title {
          color: var(--gray, rgba(48, 48, 48, 0.9));
          font-size: 20px;
          font-style: normal;
          font-weight: 300;
          line-height: 165%; /* 33px */
          letter-spacing: 0.4px;
          font-family: Manrope;
          font-size: 14px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
        }
        & .drugs__btn {
          border-radius: 6px;
          background: rgb(230, 243, 236);
          color: #20304a;
          font-family: Manrope;
          font-size: 16px;
          border: 1px solid #20304a;
          font-style: normal;
          font-weight: 700;
          line-height: normal;
          display: flex;
          padding: 4px 12px;
          flex-direction: column;
          align-items: flex-start;
          gap: 10px;
          cursor: pointer;
          font-family: Manrope;
          font-size: 14px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
        }
      }
    }
  }
}
.drugs__description-card {
  border-radius: 12px;
  border: 1px solid #3cb3e7;
  background: #fff;
  width: 100%;
  max-width: 1200px;
  box-sizing: border-box;
  padding: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: space-between;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 30px;
}
.drugs__dropdown {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 15px;
}
.drugs__description {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  max-width: 640px;
}
.description__title {
  color: #282e3e;
  font-family: Arial;
  font-size: 20px;
  font-style: normal;
  font-weight: 900;
  line-height: 24px; /* 120% */
}
.description__content {
  color: #20304a;
  font-family: Manrope;

  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 17px; /* 121.429% */
}
.drugs__main-img {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  border-radius: 8px;
}
.description__button {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
  max-width: 340px;
  align-items: center;
  color: #20304a;
  font-family: Arial;
  font-size: 20px;
  font-style: normal;
  font-weight: 900;
  line-height: 24px; /* 120% */
  justify-content: space-between;
  gap: 30px;
  text-decoration: underline;
  & img {
  }
}
