<div class="about__wrapper">
  <div class="about">
    <div class="about__card left-orient">
      <div class="about__card-description">
        <div class="about__card-title">{{ "ABOUT.TITLE-1" | translate }}</div>
        <div class="about__card-text">{{ "ABOUT.TEXT-1" | translate }}</div>
      </div>
      <div class="about__card-img">
        <img src="assets/imgs/card-1.png" alt="card" />
      </div>
    </div>
    <div class="about__card right-orient">
      <div class="about__card-description">
        <div class="about__card-title">{{ "ABOUT.TITLE-2" | translate }}</div>
        <div class="about__card-text">{{ "ABOUT.TEXT-2" | translate }}</div>
      </div>
      <div class="about__card-img">
        <img src="assets/imgs/card-2.png" alt="card" />
      </div>
    </div>
    <div class="about__card left-orient">
      <div class="about__card-description">
        <div class="about__card-title">{{ "ABOUT.TITLE-3" | translate }}</div>
        <div class="about__card-text">{{ "ABOUT.TEXT-3" | translate }}</div>
      </div>
      <div class="about__card-img">
        <img src="assets/imgs/card-3.png" alt="card" />
      </div>
    </div>
    <div class="about__card right-orient">
      <div class="about__card-description">
        <div class="about__card-title">{{ "ABOUT.TITLE-4" | translate }}</div>
        <div class="about__card-text">{{ "ABOUT.TEXT-4" | translate }}</div>
      </div>
      <div class="about__card-img">
        <img src="assets/imgs/card-4.png" alt="card" />
      </div>
    </div>
  </div>
</div>
