<div class="products__wrapper">
  <div class="products">
    <div class="products__description">
      <div class="products__description-content">
        <div class="content__title">{{ "PRODUCTS.TITLE" | translate }}</div>
        <div class="content__description">
          {{ "PRODUCTS.DESCRIPTION" | translate }}
        </div>
      </div>
      <div class="products__description-img">
        <img src="assets/imgs/product-main.png" />
      </div>
    </div>
  </div>
  <div class="drugs__wrapper">
    <div class="drugs">
      <div class="drugs__cards-wrapper">
        <div class="drugs__card-item">
          <div class="drugs__card-img-wrapper">
            <img class="drugs__card-item-img" src="assets/imgs/file_icon.svg" />
          </div>
          <div class="drugs__card-file-title">
            APIs_Therapeutic_Categorisation.xlsx
          </div>
          <button
            class="drugs__btn"
            (click)="downloadFile('APIs_Therapeutic_Categorisation.xlsx')"
          >
            {{ "PRODUCTS.BUTTON" | translate }}
          </button>
        </div>
        <div class="drugs__card-title">
          {{ "PRODUCTS.FILETITLE-1" | translate }}
        </div>
        <div class="drugs__card-item">
          <div class="drugs__card-img-wrapper">
            <img class="drugs__card-item-img" src="assets/imgs/file_icon.svg" />
          </div>
          <div class="drugs__card-file-title">
            Standards and Impurities.xlsx
          </div>
          <button
            class="drugs__btn"
            (click)="downloadFile('Samarpit_Impurities_and_Standards_Offered')"
          >
            {{ "PRODUCTS.BUTTON" | translate }}
          </button>
        </div>
        <div class="drugs__card-title">
          {{ "PRODUCTS.FILETITLE-2" | translate }}
        </div>

        <div class="drugs__card-item">
          <div class="drugs__card-img-wrapper">
            <img class="drugs__card-item-img" src="assets/imgs/file_icon.svg" />
          </div>
          <div class="drugs__card-file-title">Exipients.xlsx</div>
          <button
            class="drugs__btn"
            (click)="downloadFile('Samarpit_Product_Excipients')"
          >
            {{ "PRODUCTS.BUTTON" | translate }}
          </button>
        </div>
        <div class="drugs__card-title">
          {{ "PRODUCTS.FILETITLE-3" | translate }}
        </div>
      </div>
    </div>
  </div>
</div>
