<div class="products__wrapper">
  <div class="products">
    <div class="products__description">
      <div class="products__description-content">
        <div class="content__title">наши продукты</div>
        <div class="content__description">
          Высокое качество нашей продукции - это то, чем мы гордимся и чем
          отличаемся от других. Мы предлагаем только самое лучшее. Наша
          продукция проходит тщательный контроль качества на каждом этапе
          производства, начиная с выбора высококачественного сырья и материалов
          и заканчивая окончательными испытаниями перед выпуском на
          рынок.Фармадом предлагает широкий выбор активных фармацевтических
          ингредиентов, упаковочных материалов, вспомогательных веществ и
          аналитических стандартов из Индии и Китая.
        </div>
      </div>
      <div class="products__description-img">
        <img src="assets/imgs/product-main.png" />
      </div>
    </div>
  </div>
  <div class="drugs__wrapper">
    <div class="drugs">
      <div class="drugs__cards-wrapper">
        <div class="drugs__card-item">
          <div class="drugs__card-img-wrapper">
            <img class="drugs__card-item-img" src="assets/imgs/file_icon.svg" />
          </div>
          <div class="drugs__card-file-title">
            APIs_Therapeutic_Categorisation.xlsx
          </div>
          <button
            class="drugs__btn"
            (click)="downloadFile('APIs_Therapeutic_Categorisation.xlsx')"
          >
            Скачать файл
          </button>
        </div>
        <div class="drugs__card-title">
          Активные фармацевтические субстанции
        </div>
        <div class="drugs__card-item">
          <div class="drugs__card-img-wrapper">
            <img class="drugs__card-item-img" src="assets/imgs/file_icon.svg" />
          </div>
          <div class="drugs__card-file-title">
            Samarpit_Impurities_and_Standards_Offered
          </div>
          <button
            class="drugs__btn"
            (click)="downloadFile('Samarpit_Impurities_and_Standards_Offered')"
          >
            Скачать файл
          </button>
        </div>
        <div class="drugs__card-title">
          Стандартные образцы и стандарты примесей
        </div>

        <div class="drugs__card-item">
          <div class="drugs__card-img-wrapper">
            <img class="drugs__card-item-img" src="assets/imgs/file_icon.svg" />
          </div>
          <div class="drugs__card-file-title">
            Samarpit_Product_Excipients.xlsx
          </div>
          <button
            class="drugs__btn"
            (click)="downloadFile('Samarpit_Product_Excipients')"
          >
            Скачать файл
          </button>
        </div>
        <div class="drugs__card-title">Вспомогательные вещества</div>
      </div>
    </div>
  </div>
</div>
