<div class="services__wrapper">
  <div class="services">
    <div class="service__card">
      <img src="assets/imgs/service-card-1.png" />
      {{ "SERVICES.TITLECARD-1" | translate }}
    </div>
    <div class="service__card">
      <img src="assets/imgs/service-card-2.png" />
      {{ "SERVICES.TITLECARD-2" | translate }}
    </div>
    <div class="service__card">
      <img src="assets/imgs/service-card-3.png" />
      {{ "SERVICES.TITLECARD-3" | translate }}
    </div>
    <div class="service__card">
      <img src="assets/imgs/service-card-4.png" />
      {{ "SERVICES.TITLECARD-4" | translate }}
    </div>
  </div>
  <div class="services__banner">
    <img src="assets/imgs/service-1.png" />
  </div>
  <div class="service__content-imgs">
    <div class="content__img">
      <img src="assets/imgs/content-img-1.png" />
    </div>
    <div class="content__imgs-inner">
      <div class="content__img">
        <img src="assets/imgs/content-img-2.png" />
      </div>
      <div class="content__img small">
        <img src="assets/imgs/content-img-3.png" />
      </div>
      <div class="content__img small">
        <img src="assets/imgs/content-img-4.png" />
      </div>
    </div>
  </div>
  <div class="service__description-card">
    <div class="service__description">
      <div class="description__title">
        {{ "SERVICES.DESCRIPTIONCARD-1" | translate }}
      </div>
      <div class="description__content">
        {{ "SERVICES.DESCRIPTIONCONTENT-1" | translate }}
      </div>
    </div>
    <div class="description__button">
      Задать вопрос
      <img src="assets/imgs/button-arrow-big.png" />
    </div>
  </div>
  <div class="service__description-card">
    <div class="service__description">
      <div class="description__title">
          {{ "SERVICES.DESCRIPTIONCARD-2" | translate }}
      </div>
      <div class="description__content">
        {{ "SERVICES.DESCRIPTIONCONTENT-2" | translate }}
      </div>
    </div>
    <div class="description__button">
      Задать вопрос
      <img src="assets/imgs/button-arrow-big.png" />
    </div>
  </div>
  <div class="service__description-card">
    <div class="service__description">
      <div class="description__title">
        Таможенное оформление грузов и получение импортных разрешений
      </div>
      <div class="description__content">
        важная составляющая при доставке груза из-за рубежа, которую наша
        компания осуществляет для своих клиентов.Наша компания также
        сотрудничает с международными логистическими компаниями, что позволяет
        сэкономить на транспортировке грузов морским способом. Все товары
        поставляются в рамках условий Incoterms.Мы осуществляем поставки во все
        крупные аэропорты и морские порты СНГ, такие как Шереметьево,
        Домодедово, Санкт-Петербург, Минск, Владивосток, Астрахань,
        Новороссийск, Клайпеда и другие.
      </div>
    </div>
    <div class="description__button">
      Задать вопрос
      <img src="assets/imgs/button-arrow-big.png" />
    </div>
  </div>
  <div class="service__description-card">
    <div class="service__description">
      <div class="description__title">Мультимодальные перевозки</div>
      <div class="description__content">
        при импорте или экспорте грузов зачастую возникают ситуации, когда адрес
        отгрузки или доставки товарной партии находится в удалённом регионе, и
        нет возможности транспортировать груз одним видом транспорта. В таком
        случае компании приходится прорабатывать мультимодальный маршрут,
        состоящий из нескольких видов транспорта. Кроме того, мультимодальный
        вид перевозки может применяться с целью экономии на стоимости перевозки,
        при условии, если у клиента нет срочности в доставке груза.
      </div>
    </div>
    <div
      class="description__button"
      (click)="showDialog()"
      icon="pi pi-external-link"
      label="Show"
    >
      Задать вопрос
      <img src="assets/imgs/button-arrow-big.png" />
    </div>
  </div>
  <div class="services__banner">
    <img src="assets/imgs/service-2.png" />
  </div>
  <div class="service__description-card">
    <div class="service__description">
      <div class="description__title">Регуляторные услуги</div>
      <div class="description__content">
        Регуляторные вопросы являются важной и неотъемлемой частью
        фармацевтической отрасли. В силу специфики этой отрасли,
        фармацевтические компании должны строго следовать многочисленным
        правилам, нормам и законодательству, чтобы обеспечить безопасность и
        эффективность своих продуктов. Команда экспертов ООО «Фармадом» готова
        оказать всю необходимую помощь в регуляторных вопросах каждому заказчику
        на международном фарм-рынке. В спектр наших компетенций входят:
        получение сертификатов ЕАЭС, получение лицензий на фармацевтическую
        деятельность, внесение изменений в нормативную документацию субстанций и
        готовых лекарственных форм в рамках действующего законодательства РФ и
        других стран-партнеров.​
      </div>
    </div>
    <div
      class="description__button"
      (click)="showDialog()"
      icon="pi pi-external-link"
      label="Show"
    >
      Задать вопрос
      <img src="assets/imgs/button-arrow-big.png" />
    </div>
  </div>
  <div class="services__banner">
    <img src="assets/imgs/service-3.png" />
  </div>
  <div class="service__description-card">
    <div class="service__description">
      <div class="description__title">Хранение грузов</div>
      <div class="description__content">
        Фармадом стремится решить проблему отсутствия доступа к крупным
        аэропортам и хабам для малых и средних производителей лекарственных
        средств в России. Мы предлагаем местные складские услуги, которые
        позволят представителям фармацевтического бизнеса эффективно
        удовлетворять спрос на их продукцию. Наш склад  соответствуют
        лицензионным условиям для фармацевтической деятельности в Российской
        Федерации и международным требованиям надлежащих практик GDP, GSP. Наша
        инфраструктура складских помещений находится в удобном логистическом
        месте вблизи аэропорта Домодедово, что обеспечивает удобство доставки и
        хранения фармацевтических товаров. Мы обладаем современными системами
        контроля температуры и влажности, чтобы сохранить качество и
        стабильность сырья на протяжении всего периода хранения. Кроме того, мы
        осознаем важность оперативности в фармацевтическом производстве. Поэтому
        мы готовы предоставлять срочные поставки материалов, чтобы удовлетворить
        потребности крупных производителей. Мы поддерживаем запасы необходимого
        сырья на нашем складе в России, что позволяет нам быстро реагировать на
        запросы и обеспечить непрерывность производства. Наша команда
        профессионалов имеет богатый опыт в фармацевтической логистике и
        регуляторных вопросах. Мы тщательно следуем правилам и нормам, связанным
        с хранением, транспортировкой и документацией фармацевтических
        продуктов, чтобы обеспечить их безопасность и соответствие требованиям.
      </div>
    </div>
    <div
      class="description__button"
      (click)="showDialog()"
      icon="pi pi-external-link"
      label="Show"
    >
      Задать вопрос
      <img src="assets/imgs/button-arrow-big.png" />
    </div>
  </div>
  <div class="services__banner">
    <img src="assets/imgs/service-4.png" />
  </div>
  <div class="service__description-card">
    <div class="service__description">
      <div class="description__title">
        Маркетинг и анализ фармацевтического рынка
      </div>
      <div class="description__content">
        В целях реализации планов заинтересованных лиц (иностранные
        производители фармацевтического сырья, готовой лекарственной продукции),
        которые хотят стать участниками фармацевтического рынка Российской
        Федерации и Беларуси, наша компания предоставляет услуги по
        маркетинговому исследованию и продвижению фармацевтической продукции,
        используя обширные ресурсы, опыт и знание фармацевтического рынка.
        <br />Анализ рынка может представлять собой: <br />✓ Анализ размера,
        динамики и потенциала развития рынка <br />✓ Исследование конъюнктуры
        рынка, сегментация рынка и выделение ключевых сегментов <br />✓
        Конкурентный анализ рынка ✓ Анализ цен и общий экономический анализ
        рынка <br />✓ Анализ структуры распределения или дистрибуции товара на
        рынке <br />✓ Анализ спроса, ключевых потребностей и особенностей
        поведения покупателей на рынке <br />✓ Выявление главных рыночных и
        потребительских тенденций <br />Продвижение продукции на
        фармацевтическом рынке: Наша компания обладает широкой базой участников
        фармацевтического рынка. Мы осуществляем поддержу и продвижение,
        информирование новых участников фармацевтического рынка с целью выхода
        их продукции в широкое потребление. Многолетний опыт работы с
        производителями готовых лекарственных форм дает существенные результаты
        нашим клиентам и помогает им приобрести свою нишу на данном рынке.
      </div>
    </div>
    <div
      class="description__button"
      (click)="showDialog()"
      icon="pi pi-external-link"
      label="Show"
    >
      Задать вопрос
      <img src="assets/imgs/button-arrow-big.png" />
    </div>
  </div>
</div>
<p-dialog
  header="Header"
  [(visible)]="visible"
  [modal]="true"
  [style]="{ width: '50vw' }"
  [draggable]="false"
  [resizable]="false"
>
  <p class="m-0">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat
    non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  </p>
</p-dialog>
