.services__wrapper {
}

.services {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  margin-bottom: 60px;
  padding-top: 40px;
  margin-top: 50px;
  justify-content: space-between;
  border-top: 1px solid #2b2b2b;
}

.service__card {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 10px;
  color: #2b2b2b;
  font-family: Arial;
  font-size: 20px;
  font-style: normal;
  font-weight: 900;
  line-height: 21px; /* 105% */
  width: 100%;
  max-width: 260px;
  & img {
    width: 100%;
    max-width: 260px;
  }
}

.service__card img {
}

.services__banner {
}

.services__banner img {
}

.service__content-imgs {
  margin: 0 auto;
  margin-top: 60px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  width: 100%;
  max-width: 1200px;
  justify-content: space-between;
}

.content__img {
  width: 100%;
  max-width: 595px;
}
.small {
  max-width: 290px !important;
}
.content__imgs-inner {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  width: 100%;
  max-width: 595px;
  justify-content: space-between;
}
.content__img img {
}
.service__description-card {
  border-radius: 12px;
  border: 1px solid #3cb3e7;
  background: #fff;
  width: 100%;
  max-width: 1200px;
  box-sizing: border-box;
  padding: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: space-between;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 30px;
}
.service__description {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  max-width: 940px;
}
.description__title {
  color: #282e3e;
  font-family: Arial;
  font-size: 20px;
  font-style: normal;
  font-weight: 900;
  line-height: 24px; /* 120% */
}
.description__content {
  color: #20304a;
  font-family: Manrope;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 17px; /* 121.429% */
}
.description__button {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
  max-width: 340px;
  align-items: center;
  color: #20304a;
  font-family: Arial;
  font-size: 20px;
  font-style: normal;
  font-weight: 900;
  line-height: 24px; /* 120% */
  justify-content: space-between;
  gap: 30px;
  text-decoration: underline;
  & img {
  }
}
