<div class="services__wrapper">
  <div class="services">
    <div class="service__card">
      <img src="assets/imgs/service-card-1.png" />
      {{ "SERVICES.TITLECARD-1" | translate }}
    </div>
    <div class="service__card">
      <img src="assets/imgs/service-card-2.png" />
      {{ "SERVICES.TITLECARD-2" | translate }}
    </div>
    <div class="service__card">
      <img src="assets/imgs/service-card-3.png" />
      {{ "SERVICES.TITLECARD-3" | translate }}
    </div>
    <div class="service__card">
      <img src="assets/imgs/service-card-4.png" />
      {{ "SERVICES.TITLECARD-4" | translate }}
    </div>
  </div>
  <div class="services__banner">
    <img src="assets/imgs/service-1.png" />
  </div>
  <div class="service__content-imgs">
    <div class="content__img">
      <img src="assets/imgs/content-img-1.png" />
    </div>
    <div class="content__imgs-inner">
      <div class="content__img">
        <img src="assets/imgs/content-img-2.png" />
      </div>
      <div class="content__img small">
        <img src="assets/imgs/content-img-3.png" />
      </div>
      <div class="content__img small">
        <img src="assets/imgs/content-img-4.png" />
      </div>
    </div>
  </div>
  <div class="service__description-card">
    <div class="service__description">
      <div class="description__title">
        {{ "SERVICES.DESCRIPTIONCARD-1" | translate }}
      </div>
      <div class="description__content">
        {{ "SERVICES.DESCRIPTIONCONTENT-1" | translate }}
      </div>
    </div>
    <div class="description__button">
      Задать вопрос
      <img src="assets/imgs/button-arrow-big.png" />
    </div>
  </div>
  <div class="service__description-card">
    <div class="service__description">
      <div class="description__title">
          {{ "SERVICES.DESCRIPTIONCARD-2" | translate }}
      </div>
      <div class="description__content">
        {{ "SERVICES.DESCRIPTIONCONTENT-2" | translate }}
      </div>
    </div>
    <div class="description__button">
      Задать вопрос
      <img src="assets/imgs/button-arrow-big.png" />
    </div>
  </div>
  <div class="service__description-card">
    <div class="service__description">
      <div class="description__title">
        {{ "SERVICES.DESCRIPTIONCARD-3" | translate }}
      </div>
      <div class="description__content">
        {{ "SERVICES.DESCRIPTIONCONTENT-3" | translate }}
      </div>
    </div>
    <div class="description__button">
      Задать вопрос
      <img src="assets/imgs/button-arrow-big.png" />
    </div>
  </div>
  <div class="service__description-card">
    <div class="service__description">
      <div class="description__title">
        {{ "SERVICES.DESCRIPTIONCARD-4" | translate }}
      </div>
      <div class="description__content">
        {{ "SERVICES.DESCRIPTIONCONTENT-4" | translate }}
      </div>
    </div>
    <div
      class="description__button"
      (click)="showDialog()"
      icon="pi pi-external-link"
      label="Show"
    >
      Задать вопрос
      <img src="assets/imgs/button-arrow-big.png" />
    </div>
  </div>
  <div class="services__banner">
    <img src="assets/imgs/service-2.png" />
  </div>
  <div class="service__description-card">
    <div class="service__description">
      <div class="description__title">
        {{ "SERVICES.DESCRIPTIONCARD-5" | translate }}
      </div>
      <div class="description__content">
        {{ "SERVICES.DESCRIPTIONCONTENT-5" | translate }}
      </div>
    </div>
    <div
      class="description__button"
      (click)="showDialog()"
      icon="pi pi-external-link"
      label="Show"
    >
      Задать вопрос
      <img src="assets/imgs/button-arrow-big.png" />
    </div>
  </div>
  <div class="services__banner">
    <img src="assets/imgs/service-3.png" />
  </div>
  <div class="service__description-card">
    <div class="service__description">
      <div class="description__title">
        {{ "SERVICES.DESCRIPTIONCARD-6" | translate }}
      </div>
      <div class="description__content">
        {{ "SERVICES.DESCRIPTIONCONTENT-6" | translate }}
      </div>
    </div>
    <div
      class="description__button"
      (click)="showDialog()"
      icon="pi pi-external-link"
      label="Show"
    >
      Задать вопрос
      <img src="assets/imgs/button-arrow-big.png" />
    </div>
  </div>
  <div class="services__banner">
    <img src="assets/imgs/service-4.png" />
  </div>
  <div class="service__description-card">
    <div class="service__description">
      <div class="description__title">
        {{ "SERVICES.DESCRIPTIONCARD-7" | translate }}
      </div>
      <div class="description__content">
        {{ "SERVICES.DESCRIPTIONCONTENT-7" | translate }}
      </div>
    </div>
    <div
      class="description__button"
      (click)="showDialog()"
      icon="pi pi-external-link"
      label="Show"
    >
      Задать вопрос
      <img src="assets/imgs/button-arrow-big.png" />
    </div>
  </div>
</div>
<p-dialog
  header="Header"
  [(visible)]="visible"
  [modal]="true"
  [style]="{ width: '50vw' }"
  [draggable]="false"
  [resizable]="false"
>
  <p class="m-0">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat
    non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  </p>
</p-dialog>
