<div class="services__wrapper">
  <div class="services">
    <div class="service__card" (click)="onClickScroll('logistic')">
      <img src="assets/imgs/service-card-1.png" />
      {{ "SERVICES.TITLECARD-1" | translate }}
    </div>
    <div class="service__card" (click)="onClickScroll('docs')">
      <img src="assets/imgs/service-card-2.png" />
      {{ "SERVICES.TITLECARD-2" | translate }}
    </div>
    <div class="service__card" (click)="onClickScroll('warehouse')">
      <img src="assets/imgs/service-card-3.png" />
      {{ "SERVICES.TITLECARD-3" | translate }}
    </div>
    <div class="service__card" (click)="onClickScroll('marketing')">
      <img src="assets/imgs/service-card-4.png" />
      {{ "SERVICES.TITLECARD-4" | translate }}
    </div>
  </div>
  <div class="services__banner" id="logistic">
    <!-- <img src="assets/imgs/service-1.png" /> -->
  </div>
  <div
    class="service__content-imgs"
    *ngIf="languageService.translate.currentLang === 'ru'"
  >
    <div class="content__img">
      <img src="assets/imgs/content-img-1.png" />
    </div>
    <div class="content__imgs-inner">
      <div class="content__img">
        <img src="assets/imgs/content-img-2.png" />
      </div>
      <div class="content__img small">
        <img src="assets/imgs/content-img-3.png" />
      </div>
      <div class="content__img small">
        <img src="assets/imgs/content-img-4.png" />
      </div>
    </div>
  </div>
  <div
    class="service__content-imgs"
    *ngIf="languageService.translate.currentLang === 'en'"
  >
    <div class="content__img">
      <img src="assets/imgs/content-img-1-en.png" />
    </div>
    <div class="content__imgs-inner">
      <div class="content__img">
        <img src="assets/imgs/content-img-2-en.png" />
      </div>
      <div class="content__img small">
        <img src="assets/imgs/content-img-3-en.png" />
      </div>
      <div class="content__img small">
        <img src="assets/imgs/content-img-4-en.png" />
      </div>
    </div>
  </div>
  <div
    class="service__content-imgs"
    *ngIf="languageService.translate.currentLang === 'cn'"
  >
    <div class="content__img">
      <img src="assets/imgs/content-img-1-cn.png" />
    </div>
    <div class="content__imgs-inner">
      <div class="content__img">
        <img src="assets/imgs/content-img-2-cn.png" />
      </div>
      <div class="content__img small">
        <img src="assets/imgs/content-img-3-cn.png" />
      </div>
      <div class="content__img small">
        <img src="assets/imgs/content-img-4-cn.png" />
      </div>
    </div>
  </div>
  <div class="service__description-card">
    <div class="service__description">
      <div class="description__title">
        {{ "SERVICES.DESCRIPTIONCARD-1" | translate }}
      </div>
      <div class="description__content">
        {{ "SERVICES.DESCRIPTIONCONTENT-1" | translate }}
      </div>
    </div>
  </div>
  <div class="service__description-card">
    <div class="service__description">
      <div class="description__title">
          {{ "SERVICES.DESCRIPTIONCARD-2" | translate }}
      </div>
      <div class="description__content">
        {{ "SERVICES.DESCRIPTIONCONTENT-2" | translate }}
      </div>
    </div>
  </div>
  <div class="service__description-card">
    <div class="service__description">
      <div class="description__title">
        {{ "SERVICES.DESCRIPTIONCARD-3" | translate }}
      </div>
      <div class="description__content">
        {{ "SERVICES.DESCRIPTIONCONTENT-3" | translate }}
      </div>
    </div>
  </div>
  <div class="service__description-card">
    <div class="service__description">
      <div class="description__title">
        {{ "SERVICES.DESCRIPTIONCARD-4" | translate }}
      </div>
      <div class="description__content">
        {{ "SERVICES.DESCRIPTIONCONTENT-4" | translate }}
      </div>
    </div>
  </div>
  <div class="services__banner" id="docs">
    <!-- <img src="assets/imgs/service-2.png" /> -->
  </div>
  <div class="service__description-card">
    <div class="service__description">
      <div class="description__title">
        {{ "SERVICES.DESCRIPTIONCARD-5" | translate }}
      </div>
      <div class="description__content">
        {{ "SERVICES.DESCRIPTIONCONTENT-5" | translate }}
      </div>
    </div>
  </div>
  <div class="services__banner" id="warehouse">
    <!-- <img src="assets/imgs/service-3.png" /> -->
  </div>
  <div class="service__description-card">
    <div class="service__description">
      <div class="description__title">
        {{ "SERVICES.DESCRIPTIONCARD-6" | translate }}
      </div>
      <div class="description__content">
        {{ "SERVICES.DESCRIPTIONCONTENT-6" | translate }}
      </div>
    </div>
  </div>
  <div class="services__banner" id="marketing">
    <!-- <img src="assets/imgs/service-4.png" /> -->
  </div>
  <div class="service__description-card">
    <div class="service__description">
      <div class="description__title">
        {{ "SERVICES.DESCRIPTIONCARD-7" | translate }}
      </div>
      <div class="description__content">
        {{ "SERVICES.DESCRIPTIONCONTENT-7" | translate }}
      </div>
    </div>
  </div>
</div>
