.hero__wrapper {
  background-image: url("../../../../assets/imgs/hero-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 672px;
  display: flex;
  justify-content: center;
  & .hero {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
    justify-content: center;
    & .hero__title {
      max-width: 700px;
      width: 100%;
      color: #20304a;
      font-family: Halvar Breitschrift;
      font-size: 24px;
      font-style: normal;
      font-weight: 700;
      line-height: 115%; /* 27.6px */
      text-transform: uppercase;
      padding-top: 155px;
      & .hero__button-wrapper {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        gap: 10px;
        margin-top: 20px;
        & .hero__button {
          width: 286px;
          height: 65px;
          flex-shrink: 0;
          border-radius: 12px;
          border: 1px solid #39afe2;
          color: #3cb3e7;
          text-align: center;
          font-family: Arial;
          font-size: 16px;
          font-style: normal;
          font-weight: 900;
          line-height: 120%; /* 19.2px */
          text-transform: uppercase;
          background: #eff1f4;
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 5px;
          box-sizing: border-box;
        }
      }
    }
  }
}
