.footer__wrapper {
  margin-top: 80px;
  & .footer {
    width: 100%;
    max-width: 1286px;
    margin: 0 auto;
  }
  & .footer__menu {
    width: 100%;
    max-width: 1286px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
    padding-top: 20px;
    margin-bottom: 30px;
    & .menu__link a {
      color: #20304a;
      font-family: Manrope;
      text-decoration: none;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 19.8px;
    }
    & .menuinfo__link {
      color: #20304a;
      font-family: Manrope;
      font-size: 12px;
      font-style: normal;
      font-weight: 400;
      line-height: 16.8px;
    }
    & .menusocial__link {
      color: #20304a;
      font-family: Manrope;
      font-size: 12px;
      font-style: normal;
      font-weight: 400;
      line-height: 16.8px;
    }
  }
}
.footer__copy {
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
  text-align: center;
  color: #20304a;
  font-family: Halvar Breitschrift;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 115%; /* 27.6px */
  text-transform: uppercase;
  margin-top: 55px;
  padding-bottom: 50px;
  box-sizing: border-box;
}
.footer__menu-social {
  max-width: 160px;
}
.footer__button {
  display: flex;
  width: 100%;
  max-width: 1286px;
  height: 102px;
  padding: 6px 180px 7px 179px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 12px;
  border: 1px solid #3cb3e7;
  color: #20304a;
  text-align: center;
  font-family: Arial;
  font-size: 24px;
  font-style: normal;
  font-weight: 900;
  line-height: 20px; /* 31.25% */
  text-transform: uppercase;
}
