<div class="contacts">
  <h2 class="contacts__title">Контакты</h2>
  <button class="contacts__button">
    <img src="assets/imgs/download.png" alt="" />Cкачать буклет о компании
  </button>
  <div class="contacts__map"><img src="" alt="" /></div>
</div>
<div class="form__wrapper">
  <div class="form__contacts">
    <div class="form__title">
      Есть проект? <span class="black">Давайте обсудим!</span>
    </div>
    <div class="form__adress">
      117246, Москва, Научный проезд, 10 эт. 2, офис 1 и 2
    </div>
    <div class="form__contacts-links">
      <a class="form__link" href="tel:">
        Телефон: <span class="highlighted">+7 499 753 77 97</span>
      </a>
      <a class="form__link">
        Email: <span class="highlighted">greencrossexport21@gmail.com</span>
      </a>
    </div>
  </div>
  <form [formGroup]="contactForm" (ngSubmit)="onSubmit()" class="contact-form">
    <div class="contact-form-item">
      <div class="contact-form-label__group">
        <label for="name">Ваше имя:</label>
        <input type="text" id="name" formControlName="name" required />
      </div>

      <div
        *ngIf="
          contactForm.get('name')?.invalid && contactForm.get('name')?.touched
        "
      >
        <div
          *ngIf="contactForm.get('name')?.hasError('required')"
          class="error"
        >
          Заполните имя
        </div>
      </div>
    </div>
    <div class="contact-form-item">
      <div class="contact-form-label__group">
        <label for="email">Email:</label>
        <input type="email" id="email" formControlName="email" required />
      </div>

      <div
        *ngIf="
          contactForm.get('email')?.invalid && contactForm.get('email')?.touched
        "
      >
        <div
          *ngIf="contactForm.get('email')?.hasError('required')"
          class="error"
        >
          Email обязателен.
        </div>
        <div *ngIf="contactForm.get('email')?.hasError('email')" class="error">
          Не правильный формат Email.
        </div>
        <div
          *ngIf="contactForm.get('email')?.hasError('invalidEmail')"
          class="error"
        >
          Email должен содержать '@'.
        </div>
      </div>
    </div>

    <div class="contact-form-item">
      <div class="contact-form-label__group">
        <label for="phone">Ваш телефон:</label>
        <input type="tel" id="phone" formControlName="phone" appPhoneMask />
      </div>
      <div
        *ngIf="
          contactForm.get('phone')?.invalid && contactForm.get('phone')?.touched
        "
      >
        <div
          *ngIf="contactForm.get('phone')?.hasError('required')"
          class="error"
        >
          Телефон обязателен.
        </div>
      </div>
    </div>
    <div class="contact-form-item">
      <div class="contact-form-label__group">
        <label for="inn">ИНН:</label>
        <input type="text" id="inn" formControlName="inn" required />
      </div>

      <div
        *ngIf="
          contactForm.get('inn')?.invalid && contactForm.get('inn')?.touched
        "
      >
        <div *ngIf="contactForm.get('inn')?.hasError('required')" class="error">
          ИНН обязателен.
        </div>
        <div *ngIf="contactForm.get('inn')?.hasError('pattern')" class="error">
          Не верный формат ИНН.
        </div>
      </div>
    </div>
    <div class="contact-form-item">
      <div class="contact-form-label__group">
        <label for="city">Город:</label>
        <input type="text" id="city" formControlName="city" />
      </div>
    </div>

    <div class="contact-form-item">
      <div class="contact-form-label__group">
        <label for="message">Сообщение:</label>
        <textarea
          id="message"
          formControlName="message"
          id="message"
          type="text"
        ></textarea>
      </div>
    </div>
    <button
      type="submit"
      [disabled]="contactForm.invalid"
      class="contact-form-button"
      [ngClass]="{ 'btn-disabled': !contactForm.valid }"
    >
      Отправить
    </button>
    <div class="checkbox-wrapper">
      <label class="checkbox-label">
        <input type="checkbox" formControlName="policyAgreement" checked />
        Я согласен с <a href="#">политикой конфиденциальности</a>
      </label>
    </div>

    <div *ngIf="successMessage" class="success">Сообщение отправлено!</div>
    <div *ngIf="errorMessage" class="error">
      Ошибка при отправке сообщения: {{ errorMessage }}
    </div>
  </form>
</div>
