<div class="services__wrapper">
  <div class="services__title">
    {{ "SERVICE.TITLE" | translate }}
  </div>
  <div class="services">
    <div class="services__card">
      <div class="card__title">{{ "SERVICE.NAME-1" | translate }}</div>
      <div class="card__subtitle">{{ "SERVICE.SUBTITLE-1" | translate }}</div>
      <div class="card__price">400 500 ₽</div>
      <div class="card__button-wrapper">
        <div class="card__button blue">
          {{ "SERVICE.BUTTON-1" | translate }}
        </div>
        <div class="card__button white">
          {{ "SERVICE.BUTTON-2" | translate }}
        </div>
      </div>
    </div>
    <div class="services__card">
      <div class="card__title">{{ "SERVICE.NAME-2" | translate }}</div>
      <div class="card__subtitle">{{ "SERVICE.SUBTITLE-2" | translate }}</div>
      <div class="card__price">400 500 ₽</div>
      <div class="card__button-wrapper">
        <div class="card__button blue">
          {{ "SERVICE.BUTTON-1" | translate }}
        </div>
        <div class="card__button white">
          {{ "SERVICE.BUTTON-2" | translate }}
        </div>
      </div>
    </div>
    <div class="services__card">
      <div class="card__title">{{ "SERVICE.NAME-3" | translate }}</div>
      <div class="card__subtitle">{{ "SERVICE.SUBTITLE-3" | translate }}</div>
      <div class="card__price">400 500 ₽</div>
      <div class="card__button-wrapper">
        <div class="card__button blue">
          {{ "SERVICE.BUTTON-1" | translate }}
        </div>
        <div class="card__button white">
          {{ "SERVICE.BUTTON-2" | translate }}
        </div>
      </div>
    </div>
  </div>
</div>
